.footer {
    grid-area: footer;
    background-color: rgb(190, 190, 190);
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0;
    height: auto;
    text-align: center;
    
}

.barraNavegacionInferior {
    text-align: center;

}
