/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import "_variables";
@import "_hover";
@import "_barrascroll";
@import "_header";
@import "_footer";
@import "_dc_marvel";
@import "_media";


/* GENERALES */

* {
    margin:map-get($medidas, 0);
    padding:map-get($medidas, 0);
    box-sizing: border-box;

}

.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "imagenPrincipal"
        "header"
        "barraNavegacion"
        "main"
        "footer"

}


html {
    font-family: 'Roboto', sans-serif;
    font-size:map-get($medidas, 16);
    margin-left: 17%;
    margin-right: 17%;
    background-attachment: fixed;

}

body{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-color: rgb(102, 100, 102);
    background-image: url(../assets/captura_pantalla.png);
}

/* estilos generales */

p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.3rem;


}

.aclaraciones {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.12rem;
    gap: map-get($medidas, 1rem);
}

.serieslimitadas1 {
    color: rgb(54, 190, 20);
}

.oneshots {
    color: rgb(221, 5, 5);
}

.comentarios {
    color: blue;
}

.titulo {
    text-align: center;
    font-size: 2.25rem;

}

.tituloSecundario {
    text-align: center;
    font-size: 1.56rem;

}


/* MAIN */

.main {
    grid-area: main;
    background-color: #686668;
    padding-top: map-get($medidas, 2rem);
    padding-bottom: map-get($medidas, 2rem);
    border-radius: 0.6rem;
}

















